@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
<body style="background-color:#191d24;margin:auto">
<header>
    <h1 class="text-danger" style="color:white">>@ViewData["Title"]</h1>
    <p class="text-danger" style="color:white">>You do not have access to this resource.</p>
</header>
</body>