@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<body style="background-color:#191d24;margin:auto">
<h1 style="color:white">@ViewData["Title"]</h1>
<p style="color:white">
    Please check your email to reset your password.
</p>
</body>