@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
    }
}

<body style="background-color:#191d24;margin:auto">
<h1 style="color:white">Manage your account</h1>

<div>
    <hr/>
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav"/>
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>
</body>

@section Scripts {
    @RenderSection("Scripts", false)
}
