@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<body
    style="background-image:url('@Url.Content("~/arrested.gif")');background-size: contain;-webkit-background-size: contain;-moz-background-size: contain;-ms-background-size: contain;-o-background-size: contain;background-repeat: no-repeat;background-color:#191d24">
<h1 style="color:white">@ViewData["Title"]</h1>

<p style="width:100%;word-wrap:break-word;color:white">By using this website, you can post tweets to a single Twitter
    account alongside many other individuals</p>
<p style="width:100%;word-wrap:break-word;color:white">An account is not necessary to post, but by having an account,
    you can be a part of the leaderboard and compete with others to get the most likes and retweets</p>
</body>