@page
@model CreditsModel
@{
    ViewData["Title"] = "Credits";
}
<body style="background-image:url('@Url.Content("~/unnamed.jpg")');background-size: contain;-webkit-background-size: contain;-moz-background-size: contain;-ms-background-size: contain;-o-background-size: contain;background-repeat: no-repeat;background-color:#191d24">
<h1 class="text-danger" style="color:white">Credits</h1>
<h2 class="text-danger" style="color:white"><a href="https://www.youtube.com/channel/UCNZsJ1NhopfbkifI3OwAUdQ">TacoPandaGG</a></h2>
<h3 class="text-danger" style="color:white"><a href="https://www.youtube.com/channel/UCNZsJ1NhopfbkifI3OwAUdQ">OMGPandaLT.</a></h3>
<h4 class="text-danger" style="color:white"><a href="https://www.youtube.com/channel/UCNZsJ1NhopfbkifI3OwAUdQ">PandaLithuaniaOfficial</a></h4>

</body>