@page
@model IndexModel
@{
    ViewData["Title"] = "Timeline";
}

<body style="background-color:#191d24;margin:auto">
    <div class="text-center" style="margin:auto">
        <a class="twitter-timeline" data-theme="dark" href="https://twitter.com/keemstar?ref_src=twsrc%5Etfw" data-chrome="transparent" data-width="100%">Tweets by realwhoobama</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <h1>:3</h1>
    </div>
</body>