@page
@model IndexModel1
@{
    ViewData["Title"] = "Garbage";
}

@inject SignInManager<switter.Areas.Identity.Data.switterUser> SignInManager
@inject UserManager<switter.Areas.Identity.Data.switterUser> UserManager
@using switter.Areas.Identity.Pages.Account
<title>Whatobama</title>
    <meta content="Whatobama" property="og:title" />
    <meta content="Whatobama corporation solutions provides access to powerful tools for something" property="og:description" />


<h6 style="color:lightgray">instead of refreshing, click on "whatobama" or "Garbage" to avoid posting a duplicate</h6>
<body style="background-image:url('@Url.Content("~/index.png")');background-size: contain;-webkit-background-size: contain;-moz-background-size: contain;-ms-background-size: contain;-o-background-size: contain;background-repeat: no-repeat;background-color:#191d24">
    <div class="text-center" style="margin:auto">
    <partial name="_StatusMessage" for="StatusMessage"/>
        @if (Request.Cookies["terms"] == null && !SignInManager.IsSignedIn(User) || Request.Cookies["terms"] == "false" && !SignInManager.IsSignedIn(User))
        {
        <h1 style="color:white;">By using this website, you consent to the terms specified in the <a href="/Privacy">Privacy Policy</a> and agree to the <a href="/Rules">Rules</a></h1>
        <form method="post">
            <button asp-page-handler="Accept" asp-page="Index" style="background-color:#61dbfb; color:#191d24; width:100%; height:300%">okay 👍</button>
        </form>
        }
        else
        {
        <div>
        <form method="post" style="margin-left:auto;margin-right:auto;display:block;width:50%;margin-top:auto;margin-bottom:auto;height:80%;text-align:center;display:flex;overflow:auto;flex-direction:column;border-radius: 5px;justify-content:space-around" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div style="flex-direction:row;">
                <textarea asp-for="Input.PostText" style="background-color:#191d24; color:white; resize:none" placeholder="write something really not funny here..." rows="6" cols="50" maxlength="280"></textarea>
                <h3 style="color:white">you can also add a funny image</h3>
                <input asp-for="Input.Media" method="post" enctype="multipart/form-data" accept="image/png, image/jpeg, image/jpg, image/webp" type="file" style="color:white">
            <input asp-for="Input.AnotherInput" class="form-control" style="display:none"/>
            </div>
            <button style="background-color:#61dbfb; color:#191d24;margin-bottom:20px;margin-top:20px">post</button>
        </form>
        </div>
        }
    </div>
    <div class="text-center" style="margin:auto">
        <a class="twitter-timeline" data-theme="dark" href="https://twitter.com/realwhoobama" data-chrome="transparent" data-width="100%"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <pre>






















































































            























































































        </pre>
        <h1>:3</h1>
    </div>
</body>