@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<body
    style="background-image:url('@Url.Content("~/stalas.jpg")');background-size: contain;-webkit-background-size: contain;-moz-background-size: contain;-ms-background-size: contain;-o-background-size: contain;background-repeat: no-repeat;background-color:#191d24">
<h1 style="color:white">@ViewData["Title"]</h1>

<p style="color:black; vertical-align:bottom">placeholder text :P</p>
</body>