@page
@model RulesModel
@{
    ViewData["Title"] = "Rules";
}

<body style="background-image:url('@Url.Content("~/doge-wazatoz.gif")');background-size: cover;-webkit-background-size: cover;-moz-background-size: cover;-ms-background-size: cover;-o-background-size: cover;background-repeat: no-repeat;background-color:#191d24">
<h1 style="color:white">@ViewData["Title"]</h1>

<p style="width:100%;word-wrap:break-word;color:white">Do not post anything that doesn't abide by the <a href="https://twitter.com/en/tos">Twitter ToS</a></p>
<p style="width:100%;word-wrap:break-word;color:white">Do not self-advertise</p>
<p style="width:100%;word-wrap:break-word;color:white">Breaking either one of these rules will result in an IP ban</p>
</body>