@page
@model SignupModel
@{
    ViewData["Title"] = "Sign up";
}

<body style="background-color:#191d24;margin:auto">
<div
    style="border:1px solid white;margin-left:auto;margin-right:auto;display:block;width:50%;margin-top:auto;margin-bottom:auto;height:80%;text-align:center;display:flex;overflow:auto;flex-direction:column;border-radius: 5px;justify-content:space-around">
    <h2 style="color:white">Sign up</h2>
    <span asp-validation-for="UserName" class="text-danger"></span>
    <input asp-for="UserName" type="text" placeholder="Username" style="margin:10px;padding:10px;text-align:center"/>
    <span asp-validation-for="Email" class="text-danger"></span>
    <input asp-for="Email" type="email" placeholder="Email" style="margin:10px;padding:10px;text-align:center"/>
    <span asp-validation-for="Password" class="text-danger"></span>
    <input type="password" placeholder="Password" style="margin:10px;padding:10px;text-align:center"/>
    <span asp-validation-for="VerifyPassword" class="text-danger"></span>
    <input type="password" placeholder="Confirm password" style="margin:10px;padding:10px;text-align:center"/>
    <button style="background-color:#61dbfb; color:#191d24;margin:10px;padding:10px;border-radius: 12px;">Sign up
    </button>
</div>
</body>